.forecast-details {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-details > div {
  margin: 0 0 0.5rem 0;
}

.forecast-details__date {
  font-weight: bold;
  font-size: 2rem;
}

.forecast-details__icon {
  font-size: 4rem;
  font-weight: bold;
}

@media (min-width: 992px) {
  .forecast-details {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .forecast-details__date {
    font-weight: bold;
    font-size: 2rem;
  }

  .forecast-details__icon {
    font-size: 3rem;
    font-weight: bold;
  }
}
