.button {
  margin: 5px 0px 0px 0px;
  padding-left: 2px;
  border: none;
  background: none;
}

.button:hover {
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px rgba(43, 43, 43, 0.568);
}

.forecast-summary__date {
  font-size: 20px;
  font-weight: bold;
}

.forecast-summary__icon {
  margin: 10px 0px;
  font-size: 35px;
  font-weight: bold;
}

.forecast-summary {
  padding: 15px;
}
/* TODO: think about cascade */
