@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  height: 100%;
  background-image: linear-gradient(
    to left top,
    #8d92d9,
    #818ddb,
    #7288dc,
    #6183de,
    #4b7fe0,
    #3c8ae9,
    #2895f1,
    #00a0f8,
    #00bbff,
    #00d3fa,
    #00e8eb,
    #5ffbd9
  );

  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
